/* Navigation */
#menu-button{
	display:none;
}

#navigation{
	list-style:none;
	margin:0;
	padding:0;
}

#navigation ul{
	list-style:none;
	margin:0;
	padding:0;
}

#navigation>li{
	position:relative;

}

#navigation ul{

}

#navigation>li{
	display:table-cell;
	text-align:center;
	position:relative;
	/*border-right:1px solid #dee0e5;*/
}

@media screen and (max-width:900px){
#navigation>li {
        display:block;
	    text-align:center;
	    position:relative;
    }
}


#navigation>li:first-child{
	/*border-left:1px solid #dee0e5;*/
}

#navigation li>a,
#navigation li>span{
	display:block;
	color:white;
	font-size:13px;
	padding:3px 10px 3px 10px;
	cursor:pointer;
	transition: color 0.1s, background 0.3s;
	-webkit-transition: color 0.1s, background 0.3s;
	-moz-transition: color 0.1s, background 0.3s;
}

#navigation>li>a,
#navigation>li>span{
	/*border-top:1px solid #fff;
	border-bottom:1px solid #dee0e5;*/
}

#navigation>li:hover>a,
#navigation>li:hover>span,
#navigation>li.current-menu-item>a,
#navigation>li.current-menu-item>span{
	/*border-top:1px solid #7cc5f8;
	border-bottom:1px solid #579dd9;*/
}

#navigation li:hover,
#navigation li:hover>span,
#navigation li:hover>a,
#navigation>li.current-menu-item,
#navigation>li.current-menu-item>span,
#navigation>li.current-menu-item>a{
	text-decoration:none;
	/*background:linear-gradient(to right,#287a9f,#21A0C1);*/
	background: #3d4e5b;
	color:#fff;
	border-right-color:transparent;
	border-left-color:transparent;
}

#navigation li:hover>a:after,
#navigation>li.current-menu-item>a:after,
#navigation li:hover>span:after,
#navigation>li.current-menu-item>span:after{
	color:#fff;
}

#navigation>li>a:after,
#navigation>li>span:after{
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	color:#a8abae;
	font-size:13px;
	margin-left:5px;
	/*content: '\e88e';*/
}

#navigation>li>a:only-child:after,
#navigation>li>span:only-child:after,
#navigation>li.home-button>a:after,
#navigation>li.home-button>span:after{
	content:'';
	display:none;
}

/* Dropdown */

#navigation li ul li{
	position:relative;
}

#navigation li ul{
	display:none;
	text-align:left;
	position:absolute;
	font-size:13px;
	font-weight:400;
	font-family: BentonSans,Arial,Noto Sans,sans-serif;
	background:white;
	z-index:6000;
	/*box-shadow:0 1px 2px rgba(0,0,0,.1);*/
	box-shadow: 1px 1px 6px rgba(0,0,0,.16);
	top:100%;
	border-radius:5px;
	/*border-bottom-right-radius:3px;*/
}

#navigation li ul li>a:after,
#navigation li ul li>span:after{
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	color:#a8abae;
	font-size:13px;
	margin-left:5px;
	/*content: '\e891';*/
	position:absolute;
	right:15px;
	top:15px;
}

#navigation li ul li>a:only-child:after,
#navigation li ul li>span:only-child:after{
	content:'';
	display:none;
}

.csstransforms3d #navigation li ul{
	display:block;
	width:100px;
	transform: rotate3d(1,0,0,-90deg);
	-webkit-transform: rotate3d(1,0,0,-90deg);
	-moz-transform: rotate3d(1,0,0,-90deg);
	-ms-transform: rotate3d(1,0,0,-90deg);
	-o-transform: rotate3d(1,0,0,-90deg);
	-webkit-transform-origin:0 0 0;
	-moz-transform-origin:0 0 0;
	transform-origin:0 0 0;
	-khtml-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	transition: transform 0.5s, opacity 0.3s;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.3s;
	-moz-transition: -moz-transform 0.5s, opacity 0.3s;
}

.csstransforms3d #navigation ul ul{
	transform: rotate3d(0,1,0,90deg);
	-webkit-transform: rotate3d(0,1,0,90deg);
	-moz-transform: rotate3d(0,1,0,90deg);
	-ms-transform: rotate3d(0,1,0,90deg);
	-o-transform: rotate3d(0,1,0,90deg);
}

#navigation li ul li ul{
	left:90%;
	top:0;
	margin-left:-10px;
	margin-top:10px;
	z-index:7000;
}

#navigation ul li:last-child,
#navigation ul li:last-child>a,
#navigation ul li:last-child>span{
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	border-bottom:none;
}

#navigation ul li:last-child{
	border-bottom:none;
}

#navigation li ul li>a,
#navigation li ul li>span{
	display:block;
	color:#3e474c;
	font-size:13px;
	padding:7px 12px;
	border-bottom:1px solid #dee0e5;
}

#navigation li:hover>ul{
	display:block;
	width:150px;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	transform: rotate3d(0,0,0,0);
	-webkit-transform: rotate3d(0,0,0,0);
	-moz-transform: rotate3d(0,0,0,0);
	-ms-transform: rotate3d(0,0,0,0);
	-o-transform: rotate3d(0,0,0,0);
}

#navigation li:hover>ul>li{
	display:block;
}

/*========================================================================================================*/
/* Main Flex Slider */

.main-flexslider{
	height:500px;
}

.main-flexslider .slides>li{
	height:500px;
	color:#038dcc;
	background-size:cover!important;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}

.main-flexslider .slide{
	padding: 80px 50px;
}

.full-width-slider .slide{
	width:1170px;
	margin:0 auto;
}

.main-flexslider h2{
	font-size:48px;
	font-weight:800;
	line-height:60px;
}

.main-flexslider p{
	font-size:13px;
}

.main-flexslider a.button{
	border-bottom-color:#738497;
}

.main-flexslider p + a.button{
	margin-top:37px;
}

.main-flexslider .great-vibes + h2{
	margin-top:10px;
}

.main-flexslider .great-vibes{
	font-size:36px;
	position:relative;
	display:inline-block;
	margin-bottom:0;
}

.main-flexslider .great-vibes:before{
	content:'';
	display:block;
	width:40px;
	border-top:1px solid #fff;
	border-color:rgba(255,255,255,.6);
	position:absolute;
	top:50%;
	left:-60px;
}

.main-flexslider .great-vibes:after{
	content:'';
	display:block;
	width:40px;
	border-top:1px solid #fff;
	border-color:rgba(255,255,255,.6);
	position:absolute;
	top:50%;
	right:-60px;
}

#main_flex_1{
	background:url(../images/event1.jpg) no-repeat;
}

#main_flex_1 .slide{
	padding-left:100px;
}

#main_flex_2{
	background:url(../images/event2.jpg) no-repeat;
}

#main_flex_2 .slide{
	padding-top:120px;
}

#main_flex_2 .slide h2{
	font-weight:700;
}

#main_flex_3{
	background:url(../images/event3.jpg) no-repeat;
}

#main_flex_3 .slide{
	padding-top:100px;
}

label {
    padding: 0 10px 0 10px;
}

