<div class="div-margin">
    <div>
        <span><b>Team won the most number of tosses in the season:</b></span>
    </div>
    <div>
        {% for toss in dataList.tosses %}
        <span>
            {{toss.toss_winner}} :
            {{toss.toss_wins_count}}
        </span><br>
        {% endfor %}
    </div>
</div>

<div class="div-margin">
    <div>
        <span><b>Player won the maximum number of Player of the Match awards in the whole season:</b></span>
    </div>
    <div>
        {% for most_award in dataList.most_awards %}
        <span>
            {{most_award.player_of_match}} :
            {{most_award.player_of_match_wins_count}}
        </span><br>
        {% endfor %}
    </div>
</div>

<div class="div-margin">
    <div>
        <span><b>Team won max matches in the whole season:</b></span>
    </div>
    <div>
        {% for team in dataList.wins %}
        <span>
            {{team.winner}} :
            {{team.wins_count}}
        </span><br>
        {% endfor %}
    </div>
</div>


<div class="div-margin">
    <div>
        <span><b>location which have the most number of wins for the top team ({{dataList.venue.winner}}):</b></span>
    </div>
    <div>
        <span>
            {{dataList.venue.venue}} :
            {{dataList.venue.wins_count}}
        </span>
    </div>
</div>

<div class="div-margin">
    <div>
        <span><b>% of teams decided to bat when they won the toss:</b></span>
    </div>
    <div>
        <span>
            {{dataList.team_percenatge|floatformat:2}}%
        </span>
    </div>
</div>

<div class="div-margin">
    <div>
        <span><b>Which team won by the highest margin of runs  for the season:</b></span>
    </div>
    <div>
        {% for team in dataList.win_by_heighest_runs %}
        <span>
            {{team.winner}}:
            {{team.win_by_runs}}
        </span><br>
        {% endfor %}
    </div>
</div>

<div class="div-margin">
    <div>
        <span><b>Which team won by the highest number of wickets for the season:</b></span>
    </div>
    <div>
        {% for team in dataList.win_by_heighest_wkts %}
        <span>
            {{team.winner}}:
            {{team.win_by_wickets}}
        </span><br>
        {% endfor %}
    </div>
</div>

<div class="div-margin">
    <div>
        <span><b>How many times has a team won the toss and the match:</b></span>
    </div>
    <div>
        <span>
            {{dataList.teams_won_toss_and_match}}
        </span>
    </div>
</div>














